<table st-table="vm.aUsers.displayed" st-safe-src="vm.aUsers.loaded" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="nID">Ид</th>
        <th st-sort="sLogin">Логин</th>
        <th st-sort="bActivated">Активирован</th>
    </tr>
    <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="Поиск ..." type="text"/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="oUser in vm.aUsers.displayed">
        <td>{{oUser.nID}}</td>
        <td>{{oUser.sLogin}}</td>
        <td>{{oUser.bActivated}}</td>
        <td>
            <button type="button" ng-click="vm.func.editUser(oUser)" class="btn btn-sm btn-warning">
                <i class="glyphicon glyphicon-pencil">
                </i>
            </button>
        </td>
        <td>
            <button type="button" ng-click="vm.func.deleteUser(oUser)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
    </tr>
    </tbody>
</table>